<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Group Chat App</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="chat.css">
</head>

<body>
    <div class="container">
        <div class="header">
            <i class="fas fa-bars" id="hamburger"></i>
            <h1>Group Chat App</h1>
        </div>
        <div class="sidebar" id="sidebar">
            <!-- sidebar content -->
            <button id="create-group-btn">Create New Group</button>
            <hr class="group-hr">
            <ul class="group-list" id="groupNameList">Groups</ul>
        </div>
        <div class="chat-window">
            <div class="chat-header">
                <h2>Public Chat Room</h2>
                <button class="member-button" onclick="toggleDropdown()">Member</button>
                <div class="dropdown" id="dropdown">
                    <button class="exitGroupBtn" onclick="exitGroup()">Exit group</button>
                    <button class="closeDropdown" onclick="closeDropdown()">x</button>
                    <div class="searchInput">
                        <input type="tel" class="input" id="mobile" name="mobile" maxlength="10"
                            placeholder="Add people by their Phone no..." autocomplete="off" required>
                        <input onclick="addMember()" class="button--add" value="Add" type="submit">
                    </div>
                    <ul id="member-list"></ul>
                </div>
            </div>
            <div class="member-list">
                <!-- Member list content goes here -->
            </div>
            <div class="chat-body">
                <ul id="chats"></ul>
                <!-- <div class="message received">
                    <div class="message-info">
                        <span class="message-sender">John</span>
                        <span class="message-time">10:30 AM</span>
                    </div>
                    <div class="message-text">
                        Hello everyone, welcome to our chat room!
                    </div>
                </div>
                <div class="message sent">
                    <div class="message-info">
                        <span class="message-sender">Me</span>
                        <span class="message-time">10:32 AM</span>
                    </div>
                    <div class="message-text">
                        Hi John, thanks for creating this chat room.
                    </div>
                </div> -->
            </div>
            <div class="chat-footer">
                <form id="chat-form" method="post" onsubmit="sendMessages(event)">
                    <input type="text" id="message" placeholder="Type your message here...">
                    <input type="file" id="photo-input" style="display: none;">
                    <button type="button" id="select-button"><i class="fas fa-image"></i></button>
                    <button type="submit"><i class="fas fa-paper-plane"></i></button>
                </form>
            </div>
        </div>
        <div class="box">
            <div class="user-greeting">
                Welcome, User!
            </div>
            <div class="actions">
                <button class="back-button" onclick="backToPublicChat()">
                    <span>Back to Public Chat</span>
                    <svg viewBox="0 0 13 10" height="10px" width="15px">
                        <path d="M1,5 L11,5"></path>
                        <polyline points="8 1 12 5 8 9"></polyline>
                    </svg>
                </button>
                <button class="logout-button" onclick="logout()">
                    <div class="sign"><svg viewBox="0 0 512 512">
                            <path
                                d="M377.9 105.9L500.7 228.7c7.2 7.2 11.3 17.1 11.3 27.3s-4.1 20.1-11.3 27.3L377.9 406.1c-6.4 6.4-15 9.9-24 9.9c-18.7 0-33.9-15.2-33.9-33.9l0-62.1-128 0c-17.7 0-32-14.3-32-32l0-64c0-17.7 14.3-32 32-32l128 0 0-62.1c0-18.7 15.2-33.9 33.9-33.9c9 0 17.6 3.6 24 9.9zM160 96L96 96c-17.7 0-32 14.3-32 32l0 256c0 17.7 14.3 32 32 32l64 0c17.7 0 32 14.3 32 32s-14.3 32-32 32l-64 0c-53 0-96-43-96-96L0 128C0 75 43 32 96 32l64 0c17.7 0 32 14.3 32 32s-14.3 32-32 32z">
                            </path>
                        </svg></div>
                    <div class="text">Logout</div>
                </button>



            </div>
        </div>
    </div>
    <div class="popup">
        <div class="popup-content">
            <span class="close-btn">&times;</span>
            <h3>Create New Group</h3>
            <form class="popup-form">
                <label class="popGrpName" for="group-name-input">Group Name:</label>
                <input class="pop-input" type="text" id="group-name-input" required>
                <button class="pop-btn" type="button" id="create-btn">Create</button>
            </form>
        </div>
    </div>
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.1.3/axios.min.js"></script>
    <script src="http://localhost:3000/socket.io/socket.io.js"></script>
    <script src="chat.js"></script>
</body>

</html>