/* Reset */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Page layout */
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #F5F5F5;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.header {
    text-align: center;
    margin-bottom: 20px;
}

.chat-window {
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    overflow: hidden;
    height: 600px;
}

.chat-header {
    background-color: #007AFF;
    color: #fff;
    padding: 10px 20px;
}

.chat-header h2 {
    margin: 0;
    font-size: 22px;
}

.chat-body {
    background-image: url('https://w0.peakpx.com/wallpaper/818/148/HD-wallpaper-whatsapp-background-cool-dark-green-new-theme-whatsapp.jpg');
    background-size: cover;
    background-position: center;
    padding: 20px;
    height: calc(100% - 100px);
    overflow-y: scroll;
}

.message {
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 5px;
}

.received {
    background-color: #fff;
    text-align: left;
}

.sent {
    background-color: #007AFF;
    color: #fff;
    text-align: right;
}

.message-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.message-sender {
    font-weight: bold;
    margin-right: 10px;
}

.message-time {
    font-size: 14px;
    color: #999;
}

.chat-footer {
    background-color: #f5f5f5;
    padding: 10px;
}

.chat-footer form {
    display: flex;
    align-items: center;
}

.chat-footer input[type="text"] {
    flex: 1;
    padding: 10px;
    border-radius: 5px;
    border: none;
    outline: none;
}

.chat-footer button[type="submit"] {
    background-color: #007AFF;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    outline: none;
    cursor: pointer;
}

.chat-footer button[type="submit"]:hover {
    background-color: #0051A2;
}

.chat-footer button[type="submit"] i {
    margin-right: 5px;
}

@media (max-width: 600px) {
    .container {
        padding: 10px;
    }

    .chat-window {
        height: 100%;
    }

    .chat-body {
        height: calc(100% - 200px);
    }
}