<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create an account</title>
    <link rel="stylesheet" type="text/css" href="signUp.css">
</head>

<body>
    <div class="signup-container">
        <h1>Create an Account</h1>
        <p>Welcome to our - Chat App</p>
        <p class="para">We provide you the best chatting experience!</p>
        <hr>
        <div id="errmsg"></div><br>
        <form method="post" onsubmit="signup(event)">
            <div class="form-group">
                <label for="username">Username</label>
                <input type="text" id="username" placeholder="Enter Name*" name="username" required>
            </div>
            <div class="form-group">
                <label for="email">Email Address</label>
                <input type="email" id="email" placeholder="Enter Email*" name="email" required>
            </div>
            <div class="form-group">
                <label for="mobile">Mobile Number</label>
                <input type="text" id="mobile" placeholder="Enter Mobile Number*" name="mobile" required>
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <div class="password-wrapper">
                    <input type="password" id="password" placeholder="Set a password*" name="password" required>
                    <span class="password-toggle" onclick="togglePasswordVisibility()">&#x1f441;</span>
                </div>
            </div>
            <div class="form-group">
                <label for="confirm-password">Confirm Password</label>
                <div class="password-wrapper">
                    <input type="password" id="confirm-password" placeholder="Confirm password*" name="confirm-password"
                        required>
                    <span class="password-toggle" onclick="togglePasswordVisibility()">&#x1f441;</span>
                </div>
            </div>
            <button type="submit">Sign Up</button>
        </form>
        <br>
        <p class="link">Existing User- <a href="./login.html" style="color:dodgerblue">LogIn</a>.</p>
    </div>
    <script>
        function togglePasswordVisibility() {
            const passwordFields = document.querySelectorAll('input[type="password"]');
            passwordFields.forEach((field) => {
                const toggle = field.parentElement.querySelector('.password-toggle');
                if (field.type === "password") {
                    field.type = "text";
                    toggle.innerHTML = '&#x1f441;';
                } else {
                    field.type = "password";
                    toggle.innerHTML = '&#x1f576;';
                }
            });
        }
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.1.3/axios.min.js"></script>
    <script src="signUp.js"></script>
</body>

</html>