<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create an account</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" type="text/css" href="signUp.css">
</head>

<body>
    <div class="signup-container">
        <h1>Create an Account</h1>
        <p>Welcome to our - Group Chat App</p>
        <hr>
        <div id="errmsg"></div><br>
        <form method="post" onsubmit="signup(event)">
            <div class="form-group">
                <label for="name">Name</label>
                <input type="text" id="name" placeholder="Enter Name*" name="name" required>
            </div>
            <div class="form-group">
                <label for="email">Email Address</label>
                <input type="email" id="email" placeholder="Enter Email*" name="email" required>
            </div>
            <div class="form-group">
                <label for="mobile">Mobile Number</label>
                <input type="tel" maxlength="10" id="mobile" placeholder="+91 - Enter Mobile Number*" name="mobile"
                    required>
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <div class="password-wrapper">
                    <input type="password" id="password" placeholder="Set a password*" name="password" required>
                    <span class="password-toggle" onclick="togglePasswordVisibility()">&#x1f441;</span>
                </div>
            </div>
            <div class="form-group">
                <label for="confirmPassword">Confirm Password</label>
                <div class="password-wrapper">
                    <input type="password" id="confirmPassword" placeholder="Confirm password*" name="confirmPassword"
                        required>
                    <span class="password-toggle" onclick="togglePasswordVisibility()">&#x1f441;</span>
                </div>
            </div>
            <!-- <label>
                <input type="checkbox" checked="checked" name="remember" style="margin-bottom:1px"> Remember me
            </label> -->
            <p>By creating an account you agree to our <a href="#" style="color:dodgerblue">Terms & Privacy</a>.</p>
            <button type="submit">Sign Up</button>
        </form>
        <br>
        <p class="link">Existing User- <a href="./login.html" style="color:dodgerblue">LogIn</a>.</p>
    </div>
    <div class="made-with-love">
        <span>
            Made with <i class="fa fa-heart pulse"></i> by <a href="#" target="_blank">Chhavi</a>
        </span>
    </div>
    <script>
        function togglePasswordVisibility() {
            const passwordFields = document.querySelectorAll('input[type="password"]');
            passwordFields.forEach((field) => {
                const toggle = field.parentElement.querySelector('.password-toggle');
                if (field.type === "password") {
                    field.type = "text";
                    toggle.innerHTML = '&#x1f441;';
                } else {
                    field.type = "password";
                    toggle.innerHTML = '&#x1f576;';
                }
            });
        }
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.1.3/axios.min.js"></script>
    <script src="signUp.js"></script>
</body>

</html>